<div class="container">
    <div class="row">
        <div class="banner-info">
            <div class="banner-logo text-center">
                <img src="assets/img/autosure_logo_300.png" class="img-responsive">
            </div>
            <div class="banner-text text-center">
                <h1 class="white">Auto insurance at your fingertips</h1>
                <p>Self Service Auto Insurance Solution</p>
                <a ui-sref="contact" class="btn btn-appoint">Contact us</a>
            </div>
        </div>
    </div>
</div>